---
layout: default
---

<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<style type="text/css">
    .grid-item { white-space: nowrap;}
  </style>
<div class="posts grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 500 }'>
  {% for cat in site.categories %}
    <div class='grid-item'>
      <h1><a href="{{ site.baseurl }}/{{ cat | first }}">{{ cat | first }}</a></h1>
      {% for post in cat[1] %}
        <article class="post">
          <ul>
            <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
          </ul>
        </article>
      {% endfor %}
    </div>
  {% endfor %}
</div>